.row
  - @recipe.each do |recipe|
    .col-md-4.col-sm-6.col-xs-12
      .recipe
        .image_wrapper
          = link_to recipe do
            = image_tag recipe.image.url(:medium)
        %h2= link_to recipe.title, recipe 

